.linkCard {
  text-decoration: none;
  color: inherit;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.posterThumb {
  min-width: 290px;
  width: 100%;
  min-height: 430px;

  background-color: rgb(212, 212, 212);
  background-image: url("../../images/movie-poster.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.poster {
  display: block;
  object-fit: cover;
  object-position: center;
}
.title {
  text-transform: uppercase;
  font-weight: 800;
  line-height: 40px;
}
.div {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}
