.movieThumb {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 50px;
}

.posterPart {
  flex: 2 0 100%;

  max-width: 500px;
  min-height: 700px;
  background-color: #bebebe;
  background-image: url("../../images/movie-poster.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.poster {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.infoPart {
  flex: 0 1 100%;
  padding: 40px 20px;
  background-color: #d4d0d0;
  align-self: stretch;
}
.title {
  margin-bottom: 40px;
}
.descr {
  font-style: italic;
  margin-bottom: 25px;
}
.genresThumb {
  display: flex;
  justify-content: flex-start;
}
.genresTitle {
  font-weight: 700;
  margin-right: 35px;
}
.genresList {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}
.nav {
  text-align: center;
}
.link {
  display: inline-block;
  padding: 25px 0;
  margin-right: 20px;

  font-size: 25px;
  font-weight: 500;

  color: aqua;
}

.activeLink {
  composes: link;
  color: #f39787;
}
